# # Double-negative Ignore
# ------------------------
# # Ignore everything...
# *
#
# # ... except preferences
# !.gitignore
# !*.sublime-snippet
# !*.sublime-settings
# !*.sublime-keymap
# !*.sublime-build

# Affirmative Ignore
# ------------------------
Package Control.cache
Color Highlighter
SublimeLinter
*.log
*.cache
*.last-run
*ca-bundle
.sync*
FileHistory*
encoding_cache\.json
